* {
  box-sizing: border-box;
}

:root {
  --primaryBlue: #4894FF;
  --lightBlue: #67a4f9;
  --primaryOrange: #FFB050;
  --lightOrange: #fbb866;

  --darkBlack: #464646;
  --copyText: #A3A3A3;
  --lightGray: #F6F6F6;
  --surfaces: #f4f6fc;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  background-color: var(--surfaces);
  padding-bottom: 12rem;
}

.container {
	margin-inline: auto;
	width: min(90%,130rem);
  position: relative;
}

header {
  padding-top: 3.2rem;
  padding-bottom: 2.4rem;
}

header .profile_container img {
  width: 6.4rem;
  clip-path: circle(50% at 50% 50%); /* Foto redonda do perfil */
}

.profile_container {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.profile_container h1 {
  color: var(--darkBlack);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3.2rem;
}

.profile_container span {
  color: var(--copyText);
  font-size: 1.4rem;
  font-weight: 400;
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 3.2rem 0;
  color: var(--darkBlack);
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.card {
  background-color: #fff;
  padding: 1.6rem 2rem;
  border-radius: .8rem;
}

.card_profile .card_profile--avatar {
  width: 4rem;
  height: 4rem;
  clip-path: circle(50% at 50% 50%);
}

.card_profile {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: .2rem solid var(--lightGray);
}

.card_profile--text {
  flex-grow: 1;
}

.card_profile--text h3 {
  color: var(--darkBlack);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.card_profile--text span {
  color: var(--copyText);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.card_profile--tipoConsulta {
  display: flex;
  gap: .8rem;
}

.chat_icon {
  background-color: var(--lightGray);
  margin-bottom: auto;
  padding: .9rem;
  border-radius: 50%;
  cursor: pointer;
}

.card_time {
  color: var(--darkBlack);
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
  padding: 1.6rem 0;
}

.buttons_call {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.btn-primary {
  background-color: var(--primaryOrange);
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  border: none;
  border-radius: .8rem;
  padding: 1.2rem 2rem;
  box-shadow: 0px 4px 16px 0px #ffb0505b;
  cursor: pointer;
}

.btn-secondary {
  background-color: var(--primaryBlue);
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  border: none;
  border-radius: .8rem;
  padding: 1.2rem 2.4rem;
  width: 100%;
  box-shadow: 0px 4px 16px 0px #4894ff5a;
  cursor: pointer;
}

.btn-outline {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  color: var(--darkBlack);
  font-size: 1.4rem;
  font-weight: 500;
  border: .1rem solid #ECECEC;
  border-radius: .8rem;
  padding: 1.2rem 2rem;
  cursor: pointer;
}

/* ----- Menu ----- */
nav {
  padding: 2.4rem 0;
  background-color: #fff;
  box-shadow: 0px -4px 8px 0px #0000000F;
  border-radius: 1.2rem 1.2rem 0rem 0rem;
  position: fixed;
  width: 100%;
  z-index: 10;
  bottom: 0;
}

.nav_links {
  display: flex;
  justify-content: space-between;
}

.nav_links a {
  color: #C7C7C7;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.4s ease;
}

.nav_links a:active {
  color: var(--primaryBlue);
}

.nav_links a:hover {
  color: var(--primaryBlue);
  font-weight: 600;
}

.menu_item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: .6rem;
}

.btn-maisOpcoes {
  color: #fff;
  font-size: 3.2rem;
  background-color: var(--primaryBlue);
  height: 5.4rem;
  width: 5.4rem;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 4px 16px 0px #4894ff5a;
  position: absolute;
  z-index: 9999;
  right: 0;
  bottom: 8rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  background-color: #fff;
  border-radius: .8rem;
  padding: 2.4rem;
}

.titulo-form {
  margin-top: 1.6rem;
  border-radius: .8rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 20%;
  gap: .8rem;
  margin-bottom: .8rem;
}

.input-field label {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--darkBlack);
}

.input-field input {
  font-family: 'Montserrat', sans-serif;
  padding: 1.6rem;
  border-radius: .8rem;
  outline: none;
  border: .1rem solid rgb(205, 205, 205);
}

#observacoes {
  font-family: 'Montserrat', sans-serif;
  padding: 1.6rem;
  border-radius: .8rem;
  outline: none;
  border: .1rem solid rgb(205, 205, 205);
}

.radio_type {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.radio_options {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.btn-submit {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  color: var(--primaryBlue);
  font-weight: 600;
  font-size: 1.4rem;
  border: .1rem solid var(--primaryBlue);
  border-radius: .8rem;
  padding: 1.2rem 2rem;
  margin: 1.6rem 0;
  display: block;
  margin-left: auto;
  cursor: pointer;  
}

/* ----- Media queries ----- */
@media (min-width: 700px) {
  section {
    grid-template-columns: 1fr 1fr;
  }  
}

@media (min-width: 1100px) {
  body {
    padding-left: 18rem;
    padding-bottom: 3.2rem;
  }

  section {
    grid-template-columns: 1fr 1fr 1fr;
  }  

  nav {
    width: 18rem;
    height: 100%;
    border-radius: 0; 
    padding: 2.4rem;
    left: 0;
  }

  .nav_links {
    display: flex;
    flex-direction: column;
  }

  .menu_item {
    margin-bottom: 4rem;
  }

  .menu_item a {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 1.6rem;
  }

  .menu_item a img {
    width: 2rem;
  }

  .btn-maisOpcoes {
    display: none;
  }
}